<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quotation</title>
</head>
<body>
<h1>Quotation Edit Page</h1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<form>


    <label for="id">Quote ID</label>
    <input type="text" id="id" name="quoteID" ><br/>

    <label for="status">Status</label>
    <select id="status" name="status">
        <option value="draft">Draft</option>
        <option value="inprogress">In Progress</option>
        <option value="approved">Approved</option>
    </select><br/>

    <label for="description">Item Description</label>
    <input type="text" id="description" name="itemdescription" ><br/>

    <label for="quantity">Quantity</label>
    <input type="integer" id="quantity" name="quantity" ><br/>

    <label for="quotation">Quotation</label>
    <input type="integer" id="quotation" name="quotation" ><br/>

    <label for="transport">Transport</label>
    <input type="checkbox" id="transport" name="transport" ><br/>

    <label for="price">Price</label>
    <input type="float" id="price" name="price" ><br/>


    <!--        <label for="country">Country</label>-->
    <!--        <select id="country" name="country">-->
    <!--            <option value="australia">Australia</option>-->
    <!--            <option value="canada">Canada</option>-->
    <!--            <option value="usa">USA</option>-->
    <!--        </select>-->

    <!--        <label for="subject">Subject</label>-->
    <!--        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>-->

    <button type="Save" value="Save">Save</button>
    <button type="Cancel" value="Cancel">Cancel</button>

</form>
</body>
</html>