<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requestor Store Details</title>
</head>
<body>
<h1>Requestor Store View Page</h1>
<form method="get"  th:object="${requestorStore}" action="/requestor/{id}">
    <!--<label for="requestorstoreid">Requestor Store ID</label>:
    <input type="text" id="requestorstoreid" name="requestorstoreid" autofocus="autofocus"/> <br />
    -->
    <label for="requestorstorename">Requestor Store Name</label>:
    <input th:field="*{store_name}" type="text" disabled id="requestorstorename" name="store_name" autofocus="autofocus"/> <br />

    <label for="address1">Address 1</label>:
    <input th:field="*{storeAddress_line1}" type="text" disabled id="address1" name="storeAddress_line1" autofocus="autofocus"/> <br />

    <label for="address2">Address 2</label>:
    <input th:field="*{storeAddress_line2}" type="text" disabled id="address2" name="storeAddress_line2" autofocus="autofocus"/> <br />

    <label for="address3">Address 3</label>:
    <input th:field="*{storeAddress_line3}" type="text" disabled id="address3" name="storeAddress_line3" autofocus="autofocus"/> <br />

    <label for="city">City</label>
    <input th:field="*{store_city}" type="text" disabled id="city" name="store_city" autofocus="autofocus"/> <br />

    <label for="eircode">EIR Code</label>
    <input th:field="*{store_postal_code}" type="text" disabled id="eircode" name="store_postal_code" autofocus="autofocus"/> <br />

    <label for="contact">Contact</label>
    <input th:field="*{store_contact}" type="text" disabled id="contact" name="store_contact" autofocus="autofocus"/> <br />

    <label for="storeapprovallimit">Store Approval Limit</label>
    <input th:field="*{approval_limit}" type="text" disabled id="storeapprovallimit" name="approval_limit" autofocus="autofocus"/> <br />

    <label for="email">Email</label>
    <input th:field="*{store_email}" type="text" disabled id="email" name="approval_limit" autofocus="autofocus"/> <br />

   <!-- <button type="Save" value="Save">Save</button>
    <button type="Cancel" value="Cancel">Cancel</button>-->
    <!-- <a th:href="@{/confirm}">Log In</a> -->
    <a th:href="@{/requestor/add/{id}(id=${requestorStore.id})}">view</a>
    <!--<a href="/requestor/add" type="button" >Create Requestor</a>-->
</form>



</body>
</html>