<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
<h1>Invoice Edit Page</h1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<form method="put" action="/invoice/add">

    <!-- <label for="invoiceid">Invoice ID</label>
     <input type="text" id="invoiceid" name="invoiceid" ><br/>-->

    <label for="invoicedate">Quote Date</label>
    <input type="date" id="invoicedate" name="quote_date" ><br/>

    <label for="status">Status</label>
    <select id="status" name="status">
        <option value="draft">Draft</option>
        <option value="in_review">In Review</option>
        <option value="approved">Approved</option>
    </select>
    </br>
    <label for="in_date">Date</label>
    <input type="date" id="in_date" name="date" ><br/>
    </br>

    <label for="po">PO</label>
    <input type="text" id="po" name="purchaseorder" ><br/>
    </br>

    <button type="Save" value="Save">Save</button>
    <button type="Cancel" value="Cancel">Cancel</button>
</form>
</body>
</html>