<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Requestors</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/viewAll.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <style>

    </style>
</head>
<body>
<table id="requestors">
    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th> first_name </th>
        <th> last_name </th>
        <th> role </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${requestors.empty}">
        <td colspan="2"> No Requestor Stores </td>
    </tr>
    <tr th:each="requestor : ${requestors}">
        <td><input type="checkbox"></td>
        <td><span th:text="${requestor.first_name}"> name </span></td>
        <td><span th:text="${requestor.last_name}"> last_name </span></td>
        <td><span th:text="${requestor.role}"> role </span></td>
    </tr>
    </tbody>
</table>

    <form  method="get" th:action="@{/requestor/add}" >

        <input name="requestorStoreName" path="requestorStoreName" type="hidden" class="form-control" th:value="${requestorStoreName}"
               autofocus="true"/>

        <button class="btn btn-primary btn-block" type="submit">Add new Requestor</button>
    </form>

</form>
</body>
</html>