<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Requestors</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/viewAll.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <style>

    </style>
</head>
<body>
<table id="requestorStores">
    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th> store_name </th>
        <th> storeAddress_line1 </th>
        <th> storeAddress_line2 </th>
        <th> storeAddress_line3 </th>
        <th> store_city </th>
        <th> store_postal_code </th>
        <th> store_contact </th>
        <th> store_email </th>
        <th> approval_limit </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${allrequestorStores.empty}">
        <td colspan="2"> No Requestor Stores </td>
    </tr>
    <tr th:each="store : ${allrequestorStores}">
        <td><input type="checkbox"></td>
        <td><span th:text="${store.name}"> StoreName </span></td>
        <td><span th:text="${store.storeAddress_line1}"> Address1 </span></td>
        <td><span th:text="${store.storeAddress_line2}"> Address1 </span></td>
        <td><span th:text="${store.storeAddress_line3}"> Address1 </span></td>
        <td><span th:text="${store.store_city}"> Address1 </span></td>
        <td><span th:text="${store.store_postal_code}"> Address1 </span></td>
        <td><span th:text="${store.store_contact}"> Address1 </span></td>
        <td><span th:text="${store.store_email}"> Address1 </span></td>
        <td><span th:text="${store.approval_limit}"> AddstoreAddress_line1ress1 </span></td>
    </tr>
    </tbody>
</table>
<form method="get" action="/requestorStore/add">
    <input type="submit" value="Home Page" />

</form>
</body>
</html>