<div class="container">
    <form action="action_page.php">

        <label for="id">Item ID</label>
        <input type="text" id="id" name="itemID" ><br/>

        <label for="name">Item Name</label>
        <input type="text" id="name" name="itemname" ><br/>

        <label for="description">Item Description</label>
        <input type="text" id="description" name="itemdescription" ><br/>

        <label for="quantity">Quantity</label>
        <input type="integer" id="quantity" name="quantity" ><br/>

        <label for="quotation">Quotation</label>
        <input type="integer" id="quotation" name="quotation" ><br/>



        <!--        <label for="country">Country</label>-->
        <!--        <select id="country" name="country">-->
        <!--            <option value="australia">Australia</option>-->
        <!--            <option value="canada">Canada</option>-->
        <!--            <option value="usa">USA</option>-->
        <!--        </select>-->

        <!--        <label for="subject">Subject</label>-->
        <!--        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>-->

        <button type="Save" value="Save">Save</button>
        <button type="Cancel" value="Cancel">Reset</button>

    </form>
</div>