<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchase Requisition</title>
</head>
<body>
<h1>PR Edit Page</h1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<form method="post" action="/purchaseRequisition/new">


    <label for="prtitle">PR Title</label>
    <input type="text" id="prtitle" name="title" ><br/>

    <label for="prdate">Created Date</label>
    <input type="date" id="prdate" name="created_date" ><br/>

    <label for="expected_date_of_delivery">Expected Date of Delivery</label>
    <input type="date" id="expected_date_of_delivery" name="expected_date_of_delivery" ><br/>

    <label for="status">Status</label>
    <select id="status" name="status">
        <option value="draft">Draft</option>
        <option value="in_review">In Review</option>
        <option value="approved">Approved</option>
    </select></form>
<label for="additionalcomments">Additional Comments</label>
<input type="date" id="additionalcomments" name="additional_comments" ><br/>
<label for="save_template">Save Template</label>
<input type="boolean" id="save_template" name="save_template" ><br/>
<label for="requestor">Requestor</label>
<input type="text" id="requestor" name="requestor" ><br/>

</br>
</br>
<button type="Save" value="Save">Save</button>
<button type="Cancel" value="Cancel">Cancel</button>
</form>
</body>
</html>